/*h1{ margin: 10px 100px 10px 100px;
	text-align: center;*/

body{
		background:#777;
		font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
		color: #777;
		font-size: 18px;
		width: 960px;
		margin: 10px auto;
		padding: 20px;
	}

header{		
		margin: 10px 20px 10px 20px;
		text-align: center;
		background: #ebebeb;
		padding-bottom: 5px;
	}

#nav{		
		margin: 20px 20px 20px 20px;
		text-align: center;
		background: #ebebeb;
		padding: 2px;
	}

a {color: #777;
  }


#aside {
		float: right;
		margin: 2px 20px 5px 4px;
		background: #ebebeb;
		height: 270px;	
		width: 400px;
		}

#aside h2 { 
			margin: 2px;
		  }


.section { 
		  text-align: center;
		  margin: 0px 20px 0px 20px;
		  background: #ebebeb; 
		  height: 270px;	
		  width: 495px;	
		 }

#article { 
		  background: #777;
		  height: 210px;
		  margin: 0px 10px 10px 10px;
		  color: #ebebeb;
		 }

#h { 
	height: 50px;
	margin: 20px 40px 0px 40px;
	padding: 10px;
	background: #ebebeb;
	color: #777;
}
#p { 
	height: 50px;
	margin: 20px 40px 40px 40px;
	padding: 2px;
	background: #ebebeb;
	color: #777;
	}

  
footer {
		right: 0;
	  	bottom: 10px;
	  	left: 0; 
	  	background: #ebebeb;
	  	text-align: center;
	  	padding: 1px;
	  	margin: 20px 20px 20px 20px;
 		}
 

